@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");

.App {
  text-align: center;
}
body {
  font-family: "Roboto Condensed" sans-serif;
  /* background-color: rgb(108, 117, 125) !important; */
  background-color: white !important;
  /* background-image: url("https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  background-size: cover;
}
.s {
  color: white !important;
  /* font-family: "Akronim", cursive;
  font-family: "PT Serif", serif; */
  font-family: "Akronim", cursive;
  padding: 0 !important;
  margin: 0;
  font-size: 1.6rem !important;
}
nav a.nav-link {
  font-size: 12px;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-weight: bold;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-left: 12px;
  margin-right: 12px;
  color: white !important;
  border-bottom: 0.1875rem solid #6c757d;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid white !important;
}
.front {
  font-size: 25px;
  font-weight: 500;
  color: blueviolet;
}
.contact p {
  color: black;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact span {
  font-weight: 600;
  letter-spacing: 0.7px;
}
.name {
  font-size: 26px;
  color: rgb(108, 117, 125) !important;
}
.home p {
  margin: 0px;
}
.photo {
  width: 300px;
  height: 500px;
}
.hello {
  font-size: 25px !important;
}
.iam {
  font-size: 25px !important;
}
.p1 {
  width: 340px !important;
  height: 200px !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.p1:hover {
  width: 400px !important;
  height: 250px !important;
}
.logomongo {
  width: 200px !important;
}
.logomongo:hover {
  width: 150px !important;
}
.logo:hover {
  width: 150px !important;
}
.git {
  width: 70px !important;
  height: 40px !important;
  border-radius: 1000px !important;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.git:hover {
  width: 80px !important;
  height: 45px !important;
}
.projname {
  font-size: 25px;
  font-weight: 800;
  color: black;
}
.bord {
  height: 270px;
}
.tools {
  margin-top: 15px;
  color: rgb(108, 117, 125);
}
.logo1 {
  width: 50px;
  height: 50px;
}
.resume {
  /* display: block !important; */
  /* background-color: black; */
  /* border-bottom: 0.1875rem solid black !important; */
  margin-left: 800px !important;
}
@media (min-width: 1000px) {
  .resume {
    /* display: block !important;
    background-color: black;
    border-bottom: 0.1875rem solid black !important; */
    margin-left: 750px !important;
    font-size: 15px !important;
  }
}
@media (max-width: 1000px) {
  .resume {
    /* display: block !important;
    background-color: black;
    border-bottom: 0.1875rem solid black !important; */
    margin-left: 0px !important;
  }
}
.giticon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: black;
}
.giticon:hover {
  color: black;
  width: 40px;
  height: 40px;
}
.resume > li > a.active,
.resume > li > a:hover {
  border-bottom: 0.1875rem solid black !important;
}
.abt {
  margin-top: 30px !important;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.abt span {
  color: black;
  font-weight: 700;
}
.linked {
  color: black;
}
.linked:hover {
  color: black;
}
.gitlogowithname {
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.redirect {
  margin-left: 10px;
}
