@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");

/* * {
  font-family: "Roboto Condensed" sans-serif !important;
} */
.App {
  text-align: center;
}
body {
  font-family: "Cabin", sans-serif !important;
  /* background-image: linear-gradient(#f7f8f8, #acbb78) !important; */
  background-color: rgb(22, 22, 29) !important;
  /* background-image: url("https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  background-size: cover;
}
.s {
  color: white !important;
  /* font-family: "Akronim", cursive;
  font-family: "PT Serif", serif; */
  font-family: "Akronim", cursive;
  padding: 0 !important;
  margin: 0;
  font-size: 1.6rem !important;
}
nav a.nav-link {
  font-size: 12px;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-weight: bold;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav {
  /* padding-left: 150px !important; */
}
.navbar-nav > li > a {
  margin-left: 20px;
  margin-right: 20px;
  color: white !important;
  border-bottom: 0.1875rem solid rgb(22, 25, 32) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid rgb(22, 25, 32) !important;
}
.front {
  font-size: 22px;
  font-weight: 600;
  color: rgb(24, 119, 242) !important;
}
.contact p {
  color: black;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact span,
.projspan span {
  font-weight: 600;
  letter-spacing: 0.7px;
}
.projname a {
  color: rgb(24, 119, 242) !important;
}
.name {
  font-size: 26px;
  color: rgb(24, 119, 242) !important;
}
.home p {
  margin: 0px;
}
.cont {
  height: 30px;
}
.photo {
  width: 250px;
  height: 250px;
}
.hello {
  font-size: 25px !important;
  color: white;
}
.iam {
  font-size: 25px !important;
  color: white;
}
.p1 {
  width: 340px !important;
  height: 200px !important;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
}
.p1:hover {
  width: 400px !important;
  height: 250px !important;
}

.logo {
  /* width: 60px !important; */
  color: white !important;
  font-weight: 600;
  cursor: pointer;
}
.logo:hover {
  /* width: 60px !important; */
  color: rgb(24, 119, 242) !important;
}
.git {
  width: 70px !important;
  height: 40px !important;
  border-radius: 1000px !important;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.git:hover {
  width: 80px !important;
  height: 45px !important;
}
.projname {
  font-size: 25px;
  font-weight: 800;
  color: black;
}
.bord {
  height: 270px;
}
.tools {
  margin-top: 15px;
  color: rgb(108, 117, 125);
}
.logo1 {
  width: 50px;
  height: 50px;
}
.resume {
  /* display: block !important; */
  background-color: black;
  /* border-bottom: 0.1875rem solid black !important; */
  /* margin-left: 700px !important; */
}
@media (min-width: 1000px) {
  .resume {
    /* display: block !important;
    background-color: black;
    border-bottom: 0.1875rem solid black !important; */
    margin-left: 600px !important;
    font-size: 15px !important;
  }
}
@media (max-width: 1000px) {
  .resume {
    /* display: block !important;
    background-color: black;
    border-bottom: 0.1875rem solid black !important; */
    margin-left: 20px !important;
  }
}
.giticon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
}
.giticon:hover {
  color: rgb(24, 119, 242);
  width: 40px;
  height: 40px;
}
.resume > li > a.active,
.resume > li > a:hover {
  border-bottom: 0.1875rem solid black !important;
}
.abt {
  margin-top: 10px !important;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: normal;
  color: white;
}
.abt span {
  color: black;
  font-weight: 700;
}
.linked {
  color: white;
}
.linked:hover {
  color: rgb(24, 119, 242);
}
.gitlogowithname {
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.redirect {
  margin-left: 10px;
}

.giticon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
  margin-right: 15px;
}
.linked {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 100px !important;
  padding-left: 10px;
  cursor: pointer;
}
.navv {
  background-color: rgb(22, 25, 32);
}
.wann p {
  color: white;
}
.wann span {
  color: white;
}
.pbox {
  /* border: 0.0002rem solid black; */
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  box-shadow: 0 3px 5px 0 rgb(192, 189, 189), 0 3px 5px 0 rgb(197, 193, 193);
  /* border: 0.008rem solid rgb(226, 222, 222); */
}
.f1 {
  width: 70%;
  margin: auto !important;
  /* box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1); */

  /* border: 0.00008rem solid rgb(226, 222, 222); */
}
@media (max-width: 500px) {
  .mapp {
    padding-left: 50px !important;
    margin-left: 100px !important;
  }
  .box2 {
    padding-left: 10px !important;
    font-size: 15px;
  }
}
.icondiv {
  height: 50px;
}
.giticon2 {
  width: 35px;
  height: 35px;
}
.giticon2:hover {
  color: rgb(24, 119, 242);
}
.gmap {
  width: 300px;
  height: 300px;
  padding-left: 50px;
}

.home {
  /* margin-bottom: 150px; */
}

/* // navbar */
.navigation__container {
  background-color: rgb(22, 25, 32);
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.navitems1 {
  border-bottom: 0.1875rem solid rgb(22, 25, 32);
  margin-right: 5px;
  font-size: 15px !important;
  color: white !important;
}
.navitems1:hover {
  border-bottom: 0.1875rem solid white;
}
.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}

.links a:hover {
  background-color: var(--font-color-hover);
}
.navigationbar {
  /* margin-bottom: 100px; */
  position: sticky;
  z-index: 5;
}
.home,
.projects,
.contacts {
  padding-top: 100px;
}
.contacts1 {
  padding-top: 150px !important;
}
.projects {
  padding-top: 80px;
}
.home {
  padding-top: 150px;
}
.headingskill {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.projskills {
  color: rgb(73, 72, 72);
  font-size: 18px;
  font-weight: 600;
}
.skills {
  padding-top: 70px;
  padding-bottom: 10px;
}
.info {
  color: white !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}
.particle {
  position: absolute;
  top: 100;
  width: 1340px;
  height: 2500px;
  z-index: -1;
}

@media (max-width: 500px) {
  .particle {
    height: 5100px;
    width: 370px;
  }
  .linked11 {
    font-size: 13px;
  }
}
